<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic-layout}">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row">
        <div th:replace="~{fragments/navigation :: toggle-pane}"></div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h5>Forbidden</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error:</strong>
                        <span>Forbidden.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>