book:
  service:
    page:
      size: 5

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: info,health,metrics,sbom
  cloudwatch:
    metrics:
      export:
        enabled: true
        namespace: b-l-s
        step: 1m
  metrics:
    tags:
      environment: ${ENVIRONMENT_NAME}

server:
  forward-headers-strategy: framework

spring:
  mvc:
    problemdetails:
      enabled: true
  cloud:
    aws:
      region:
        static: eu-central-1
  web:
    error:
      whitelabel:
        enabled: false
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  threads:
    virtual:
      enabled: true

custom:
  invitation-codes: DUKE, MIKE
  recommendation-queue: bls-book-recommendation
  tracing-table: bls-local-breadcrumb
  use-real-sqs-listener: true
  auto-confirm-recommendations: false
  confirm-email-from-address: noreply@b-l-s.click
  external-url: https://app.b-l-s.click
