.input-group-text {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #ffffff;
  height: 100%
}

.password-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ced4da;
}

#username-input:focus, #email-input:focus, #invitation-code-input:focus, #password-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
}
