[data-bs-theme="dark"] .table-danger {
  --bs-table-bg: #4f4f4f;
  --bs-table-striped-bg: #5f5f5f;
  --bs-table-striped-color: #fff;
  color: #fff;
  border-color: #4f4f4f;
}

[data-bs-theme="dark"] .table-success {
  --bs-table-bg: #28a745;
  --bs-table-striped-bg: #5cb85c;
  --bs-table-striped-color: #fff;
  color: #fff;
  border-color: #28a745;
}
