<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav aria-label="Page navigation" th:fragment="pagination-nav(pageLink)" th:if="${pageNumbers.size() > 1}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:each="pageNumber : ${pageNumbers}">
            <a class="page-link" th:href="@{${pageLink}(page=${pageNumber - 1})}" th:text=${pageNumber}></a>
        </li>
    </ul>
</nav>
<div th:fragment="toggle-pane" class="col-md-2">
    <div class="card">
        <div class="list-group list-group-flush">
            <a id="allBooksButton" class="list-group-item list-group-item-action" th:href="@{/}">Show all
                books</a>
            <a id="availableBooksButton" class="list-group-item list-group-item-action"
               th:href="@{/available}">Show available books</a>
            <a id="borrowedBooksButton" class="list-group-item list-group-item-action"
               th:href="@{/borrowed}">Show borrowed books</a>
            <a id="addBookButton" class="list-group-item list-group-item-action"
               th:href="@{/addBook}" sec:authorize="hasRole('ROLE_ADMIN')">Add new book</a>
        </div>
    </div>
</div>
</html>