<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic-layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row">
        <div th:replace="~{fragments/navigation :: toggle-pane}"></div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h5>Borrow book</h5>
                </div>
                <div class="card-body">
                    <form class="row g-2" th:method="POST" th:object="${borrowedDto}" th:action="@{/book/borrow}">
                        <input type="hidden" th:field="*{bookId}"/>
                        <div class="col-12">
                            <label class="form-check-label" for="readerSelect">
                                Select reader
                            </label>
                            <select class="form-select" id="readerSelect" th:field="*{readerId}">
                                <option th:each="item : ${readers}" th:value="${item.id}" th:text="${item.toString()}"></option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label class="form-check-label" for="readerSelect">
                                Choose date of borrow
                            </label>
                            <input id="fromDate" class="form-control" type="date"
                                   aria-label="Date of borrow" aria-describedby="fromDateHelp" th:field="*{from}"
                                   th:classappend="${#fields.hasErrors('from')}? 'is-invalid'">
                            <script>fromDate.value = new Date().toJSON().split('T')[0]</script>
                            <div>
                                <small id="fromDateHelp" class="form-text text-muted">
                                    Date of borrow can't be later than today.
                                </small>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>