<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/basic-layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row">
        <div th:replace="~{fragments/navigation :: toggle-pane}"></div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h5>Borrowed books</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning" role="alert" th:if="${!found}">
                        <strong>Warning:</strong>
                        <span>No borrowed books have been found.</span>
                    </div>
                    <div th:if="${found}">
                        <table aria-label="Borrowed books" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Author</th>
                                <th scope="col">Borrowed to</th>
                                <th scope="col">Borrowed on</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${books.content}">
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.author}"></td>
                                <td th:text="${item.readerName()}"></td>
                                <td th:text="${item.borrowedOn}"></td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                                       th:href="@{/book/avail(bookId=${item.id})}"
                                       class="btn btn-info btn-sm"
                                       onclick="if (!(confirm('Are you sure you want to return this book?'))) return false">
                                        Return
                                    </a>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-warning dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">Offer
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <span class="dropdown-item" th:if="${item.candidates.isEmpty()}">
                                                No one to offer</span>
                                            <form th:method="POST"
                                                  th:each="reader : ${item.candidates}"
                                                  th:acon="@{/book/{bookId}/recommendations/{readerId}(bookId=${item.id}, readerId=${reader.id})}">
                                                <button
                                                        th:text="${reader.readerName()}"
                                                        type="submit"
                                                        name="submit"
                                                        class="dropdown-item">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div th:replace="~{fragments/navigation :: pagination-nav(pageLink='/book/borrowed')}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>