<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic-layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5>Change password</h5>
                </div>
                <div class="card-body">
                    <div th:if="${message}" th:text="${message}" th:class="${'alert alert-' + messageType}"
                         role="alert">
                    </div>
                    <form class="row g-2" th:action="@{/change-password}" th:object="${changePassword}" th:method="post">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="previousPassword"><i class="fa fa-lock"></i></span>
                            </div>
                            <input name="previousPassword" type="password" class="form-control" id="previous-password-input"
                                   placeholder="Previous Password" aria-label="previousPassword" aria-describedby="previousPassword"
                                   th:field="*{previousPassword}" required>
                            <div class="input-group-append">
                                <button class="btn btn-light password-btn" type="button"
                                        onclick="previous_show_hide();">
                                    <i class="fa fa-eye-slash" id="previous-password-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="proposedPassword1"><i class="fa fa-lock"></i></span>
                            </div>
                            <input name="proposedPassword1" type="password" class="form-control" id="proposed-password-1-input"
                                   placeholder="Proposed Password" aria-label="proposedPassword1" aria-describedby="proposedPassword1"
                                   th:field="*{proposedPassword1}" required>
                            <div class="input-group-append">
                                <button class="btn btn-light password-btn" type="button"
                                        onclick="proposed1_show_hide();">
                                    <i class="fa fa-eye-slash" id="proposed-password-1-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="proposedPassword2"><i class="fa fa-lock"></i></span>
                            </div>
                            <input name="proposedPassword2" type="password" class="form-control" id="proposed-password-2-input"
                                   placeholder="Repeat Proposed Password" aria-label="proposedPassword2" aria-describedby="proposedPassword2"
                                   th:field="*{proposedPassword2}" required>
                            <div class="input-group-append">
                                <button class="btn btn-light password-btn" type="button"
                                        onclick="proposed2_show_hide();">
                                    <i class="fa fa-eye-slash" id="proposed-password-2-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-outline">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
