<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic-layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5>Change password</h5>
                </div>
                <div class="card-body">
                    <div th:if="${message}" th:text="${message}" th:class="${'alert alert-' + messageType}"
                         role="alert">
                    </div>
                    <form class="row g-2" th:action="@{/change-password}" th:object="${changePassword}" th:method="post">
                        <input type="hidden" th:field="*{userName}"/>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="password"><i class="fa fa-lock"></i></span>
                            </div>
                            <input name="password" type="password" class="form-control" id="password-input"
                                   placeholder="New Password" aria-label="Password" aria-describedby="password"
                                   th:field="*{password}"
                                   th:classappend="${#fields.hasErrors('password')}? 'is-invalid'"
                                   required autofocus>
                            <div class="input-group-append">
                                <button class="btn btn-light password-btn" type="button"
                                        onclick="login_show_hide();">
                                    <i class="fa fa-eye-slash" id="password-icon"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                                 th:text="${#strings.listJoin(#fields.errors('password'), ', ')}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="repeatPassword"><i class="fa fa-lock"></i></span>
                            </div>
                            <input name="repeatPassword" type="password" class="form-control" id="repeat-password-input"
                                   placeholder="Repeat New Password" aria-label="Password" aria-describedby="password"
                                   th:field="*{repeatPassword}"
                                   th:classappend="${#fields.hasErrors('repeatPassword')}? 'is-invalid'"
                                   required>
                            <div class="input-group-append">
                                <button class="btn btn-light password-btn" type="button"
                                        onclick="repeat_password_show_hide();">
                                    <i class="fa fa-eye-slash" id="repeat-password-icon"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('repeatPassword')}"
                                 th:text="${#strings.listJoin(#fields.errors('repeatPassword'), ', ')}">
                            </div>
                        </div>
                        <div class="form-outline">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
