<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/basic-layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div th:if="${param.error}">
                        <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>
                    <div th:if="${param.logout}">
                        <p class="text-warning">You have been signed out.</p>
                    </div>
                    <div th:if="${message}" th:text="${message}" th:class="${'alert alert-' + messageType}"
                         role="alert"></div>
                    <div class="alert alert-info" role="alert" sec:authorize="isAnonymous()">
                        <span>Seems like you are not signed-in yet. Please sign in or sign up first to see list of books.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
