<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic-layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library service</title>
</head>
<body>
<section layout:fragment="basic-content">
    <div class="row">
        <div th:replace="~{fragments/navigation :: toggle-pane}"></div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h5>Save book</h5>
                </div>
                <div class="card-body">
                    <form class="row g-2" th:method="POST" th:object="${availableBookDto}" th:action="@{/save}">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="col-12">
                            <input id="bookName" class="form-control" type="text" placeholder="Book name"
                                   aria-label="Book name" aria-describedby="bookNameHelp" th:field="*{name}"
                                   th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                            <div>
                                <small id="bookNameHelp" class="form-text text-muted">
                                    Book name can't be empty, or longer than 15 signs.
                                </small>
                            </div>
                        </div>
                        <div class="col-12">
                            <input id="bookAuthor" class="form-control" type="text" placeholder="Book author"
                                   aria-label="Book author" aria-describedby="bookAuthorHelp" th:field="*{author}"
                                   th:classappend="${#fields.hasErrors('author')}? 'is-invalid'">
                            <div>
                                <small id="bookAuthorHelp" class="form-text text-muted">
                                    Book author can't be empty.
                                </small>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>